body {
  background-color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.weather-container {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  max-width: 600px;
  border-radius: 5px;
  padding: 20px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
form input[type="text"] {
  width: 60%;

  padding: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  transition: 0.3s;
}

form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s ease;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: #0062cc;
}
.weather-icon img {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.weather-temperature {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0;
}
.weather-description {
  font-size: 24px;
  margin-bottom: 20px;
}
.weather-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.weather-details > div {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  flex: 1;
  text-align: center;
  min-height: 45px;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
  }
  form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
}
